.markdown {
  // custom class
  .text-rare {
    color: #aaa;
  }

  img.img-sm,
  figure.img-sm img {
    max-width: 100px;
    width: 100%;
  }
  img.img-md,
  figure.img-md img {
    max-width: 200px;
    width: 100%;
  }
  img.img-lg,
  figure.img-lg img {
    max-width: 400px;
    width: 100%;
  }

  .table-tight th,
  .table-tight td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: 0;
  }

  .header-first td:first-child {
    font-weight: bold;
  }
  .header-odd td:nth-child(odd) {
    font-weight: bold;
  }

  // overwrite default
  h3 {
    font-weight: bolder;
  }

  .book-columns > div {
    min-width: $body-min-width * 0.4;
  }

  table tbody tr:nth-child(even) {
    background: none;
  }
  table tbody tr:nth-child(odd) {
    background: var(--gray-100);
  }
}
